<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Add question</title>
         <link rel="stylesheet" href="{{ url_for('static', filename='add-question.css') }}" type="text/css" media="screen"/>
    </head>
    <body>
     <div class="banner-img">
        <h1>Ask Question</h1>
            <label for="Your question">Your question:</label>
            <textarea id="Your Question" name="Your Question" rows="8" cols="80"></textarea>
            <p></p>
            <label for="Your comment">Your comment:</label>
            <textarea id="Your Comment" name="Your Comment" rows="8" cols="80"></textarea>
            <p></p>
        <div class="button">
        <form action='/add-question' method="POST">
            <button type="submit">Ask away</button>
        </form>
        </div>
    </body>
</html>