
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
<link rel="stylesheet" href="{{ url_for('static', filename='registration-and-login.css') }}" type="text/css" media="screen"/>
</head>
<body>
 <div class="banner-img">
    <h1>Log in, Mate!</h1>
    <form action="{{ url_for("login") }}" method="POST">
        <p>Username:</p>
        <p><input type="text" name="username" placeholder="Username" minlength="3" required></p>
        <p>Password:</p>
        <p><input type="password" name="password" placeholder="Password" minlength="5" required></p>
        <p><input type="submit" value="Login"></p>
    </form>
 </div>
</body>
</html>