<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Askmate</title>
        <style>
        body {background-color: khaki;}
        h1 {color: seagreen;}
        h1 {text-align: center; font-family: georgia; font-size: 400%;}
        label {color: crimson;}
        label {text-align: left; font-family: georgia; font-size: 150%;}
        </style>
    </head>
   <body>
        <h1>Edit note</h1>
        <form action="/question/<question_id>/new-answer" method="post">
            <label for="note-input">Your answer:</label>
            <textarea id="note-input" name="note" rows="8" cols="80"></textarea>
            <button type="submit">Save answer!</button>
        </form>
    </body>
</html>
</html>