<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>question</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='question.css') }}" type="text/css" media="screen"/>
</head>


<body>
<div class="banner-img">
    {% for question in questions %}
        {% if question['id'] == question_id %}
            <h1>{{ question['title'] }}</h1>
            <h2>{{ question['message'] }}</h2>
            {% if user %}
            <form action="/question/{{ question_id }}/up_vote" method="get">
                <div class="button"><input type="submit" value="Vote (question)"/></div>
            </form>
            {% endif %}
            {% if not user %}
                <p>Log in to vote</p>
            {% endif %}
        {% endif %}
    {% endfor %}
<table class="separator">
    {% for answer in answers %}
        {% if answer['question_id'] == question_id %}
            <tr><td>{{ answer['message'] }}</td>
             <th>{{ answer['vote_number'] }}
                 {% if user %}
                 <form action="/question/{{ question_id }}/{{ answer['id'] }}/up_vote" method="get">
                     <div class="button"><input type="submit" value="Like"/></div>
                </form>
                 {% endif %}
                 {% if not user %}
                 <p>Log in to vote</p>
                 {% endif %}
            </th></tr>
        {% endif %}
    {% endfor %}
</table>
    {% for question in questions %}
        {% if question['id'] == question_id %}
            <p><a href="/question/{{ question_id }}/new-answer">New answer </a></p>
        {% endif %}
    {% endfor %}


<p><a href="/"> Homepage! </a></p>
<p><a href="/list"> View all questions! </a></p>
</div>
</body>