<!DOCTYPE html>
<html lang="en">
<head><title>Questions list</title>
    <link rel="stylesheet" href="static/list.css" type= "text/css" media="screen"/>
</head>
<body>
<div class="banner-img">
    <table class="separator">
        <th>Question</th>
        <th>submission time</th>
        <th>view number</th>
        <th>vote number</th>
        {% for question in questions %}
            {% if user == question['uploader'] %}

                <tr>
                    <td><form action="/question/{{question['id']}}" method="post">
                        <button type="submit" class="btn-link">{{question['title']}}</button>
                    </form>
                    </td>
                    <td>{{question['submission_time']}}</td>
                    <td>{{question['view_number']}}</td>
                    <td>{{question['vote_number']}}</td>

                </tr>
            {% endif %}
        {%endfor%}
        <div class="button">
            <form action="/list" method="POST">

                <input type="submit" value="Sorted" />

            </form>
        </div>

    </table>
    <p><a href="/"> Homepage! </a></p>
</div>
</body>
</html>